github "m-ochyra/r2-shared-swift" == 2.0.0-beta.2-xcode-14
github "stephencelis/SQLite.swift" == 0.13.3
github "krzyzanowskim/CryptoSwift" == 1.5.1
github "weichsel/ZIPFoundation" == 0.9.11 # 0.9.12 requires iOS 12+
